body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cdb9b9;
}

#quiz-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(139, 175, 142);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

.hide {
    display: none;
}